.line-chart-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 20px;
  width: 100%;
  flex: 1;
}

.line-canvas-container {
  width: 60vw;
  height: 43vh;
}

.days-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
}
