.line-chart-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-top: 20px;
  height: 53vh;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.line-canvas-container {
  width: 45vw;
  height: 100%;
}

.days-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
}

.day-item:hover {
  background: #16222a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    rgb(58, 96, 115),
    rgb(22, 34, 42)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgb(58, 96, 115),
    rgb(22, 34, 42)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-top: 1px solid var(--secondary-color);
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.day-active {
  border-top: 1px solid var(--secondary-color);
  color: white;
  background: #16222a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    rgb(58, 96, 115),
    rgb(22, 34, 42)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgb(58, 96, 115),
    rgb(22, 34, 42)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media only screen and (max-width: 1350px) {
  .line-canvas-container {
    width: 100%;
  }
}
