.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  background: var(--main-color);
  background: var(--main-bkg);
  background: var(--main-bkg-browsers);
  background: var(--main-bkg);
  background-color: #29424e;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}

.hero-slide-container {
  display: flex;
  align-items: center;
  min-height: 7vh;
  height: 100%;
  background: #f5f8ff;
  animation: slide 420s infinite linear alternate-reverse;
}

.hero-slide-image {
  max-width: 1em;
  object-fit: contain;
}

.hero-slide-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 16vw;
  margin-right: 15px;
  font-size: 0.9rem;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-1600vw);
  }
}

.hero-slide-item > span:nth-child(4) {
  font-size: 0.8rem;
}
.hero-slide-item > span {
  margin: 0 5px;
}

.hero > h1 {
  font-size: 3rem;
  color: whitesmoke;
  text-align: center;
}

.hero > h3 {
  font-size: 1.2rem;
  color: whitesmoke;
}
