.analytics-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  overflow-x: hidden;
}

.analytics-top-five {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.analytics-top-five-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.analytics-top-five-header > h2 {
  margin: 10px 0;
}

.analytics-top-five-data {
  font-size: 0.9rem;
}
.analytics-top-five-img {
  height: 2.5em;
  object-fit: contain;
}

@media only screen and (max-width: 1400px) {
  .analytics-container {
    display: grid;
    align-self: auto;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 1100px) {
  .analytics-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .analytics-top-five {
    flex-direction: row;
  }
  .analytics-top-five-header {
    flex: 1;
    justify-content: space-around;
  }
}
