.conversion {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  margin-top: 10px;
}

.conversion-image {
  width: 4em;
  /* margin: 25px 0; */
}

.conversion-input {
  font-size: 1.5rem;
}
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

.conversion > h1 {
  background: var(--text-clip);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.conversion > h4 {
  color: var(--secondary-color);
}

.conversion-select {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
}
