.conversion {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  margin-top: 10px;
}

.conversion-image {
  width: 6em;
  margin: 25px 0;
}

.conversion > input {
  width: 80%;
  min-height: 10%;
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.conversion > h1 {
  background: var(--text-clip);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.conversion > h4 {
  color: var(--secondary-color);
}

.conversion-select {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
}
