.market-stats {
  display: flex;
  flex-direction: column;
  padding: 2%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  min-height: 100%;
}

.market-stats-header {
  display: flex;
  align-items: center;
  background: var(--text-clip);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5px;
}

.market-stats-header > h3 {
  margin: 0px 0px 0px 10px;
}
.market-stats-coin-image {
  min-width: 1.5em;
  max-height: 1.5em;
  min-height: 1.5em;
}

.market-stats-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.market-stats-item {
  color: rgb(128, 128, 128);
}
.market-stats-item > p {
  text-align: center;
  margin-top: 10px;
}

.market-stats-img {
  height: 2.3em;
}

.market-stats-left {
  flex: 0.45;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}

.market-stats-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.market-stats-updated {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1350px) {
  .market-stats-right {
    width: 100%;
    padding: 0 2%;
  }
  .market-stats-left {
    margin-bottom: 20px;
    width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .market-stats-right > span {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .market-stats {
    padding: 1%;
    font-size: 0.9rem;
    min-height: 100%;
  }
  .market-stats-container {
    min-height: 100%;
  }
  .market-stats-item {
    font-size: 0.8rem;
  }
}
