.top-five {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2%;
  height: 100vh;
}

.top-five-right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

.top-five-chart-container {
  display: flex;
  justify-content: space-between;
  height: 55%;
}

@media only screen and (max-width: 1150px) {
  .top-five {
    height: 100%;
    flex-direction: column-reverse;
    padding: 3%;
  }
  .top-five-right-container {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 950px) {
  .top-five-chart-container {
    min-height: 50vh;
    flex-direction: column;
  }
}
