.top-five {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2%;
  max-height: 100vh;
}

.top-five-right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

.top-five-chart-container {
  display: flex;
  justify-content: space-between;
  height: 55%;
}
