.dashboard {
  position: relative;
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dashboard-content {
  width: 93vw;
}
.discover {
  min-height: 100vh;
  padding: 2%;
}

.discover-details {
  display: flex;
  width: 100%;
  height: 75vh;
  margin-top: 15px;
}

.discover-details-left {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.day-item {
  cursor: pointer;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.mc-details {
  display: flex;
  height: 100%;
  justify-content: space-between;
  max-height: 75vh;
  padding: 2%;
}

.mc-details-chart-container {
  display: flex;
  flex-direction: column;
  min-width: 65%;
}

.mc-charts-container {
  display: flex;
  flex: 1;
}
@media only screen and (max-width: 1350px) {
  .dashboard-content {
    width: 100vw;
  }
  .discover-details {
    flex-direction: column-reverse;
    height: 100%;
  }
  .discover-details-left {
    margin: 0;
  }
}

@media only screen and (max-width: 1150px) {
  .mc-details {
    flex-direction: column-reverse;
  }
  .market-cap {
    margin: 15px 0;
  }
}
@media only screen and (max-width: 1000px) {
  .mc-details {
    height: 400vh;
    flex-direction: column;
  }
  .mc-charts-container {
    height: 100%;
    flex-direction: column;
  }
}
