.table-container {
  font-size: 0.8rem;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}
table {
  overflow: scroll;
}

tr:hover {
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

th {
  color: white;
  padding: 5px;
  white-space: nowrap;
}

td {
  text-align: center;
  padding: 5px;
  width: 10vw;
}

.table-coin-img {
  max-height: 2rem;
}

.table-selected-row {
  border: 1px solid rgba(0, 82, 162, 0.75);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.row {
  background: var(--main-bkg);
}

@media only screen and (max-width: 1350px) {
  table {
    width: 100%;
  }
}
