.search-coins {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-height: 100vh;
}

.search-coins-container {
  padding: 0 2%;
}
.search-coins-content {
  display: flex;
  max-height: 78vh;
  margin-top: 20px;
}

.search-coins-left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 25px;
}

.day-item {
  cursor: pointer;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

@media only screen and (max-width: 1350px) {
  .search-coins {
    max-width: 80vw;
  }
  .search-coins-content {
    flex-direction: column;
    max-width: 95vw;
    min-height: 150%;
  }

  .search-coins-left {
    margin: 0;
    height: 100%;
  }
}
