.search-coins {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  width: 90vw;
}

.search-coins-container {
  padding: 0 2%;
}

.search-coins-content {
  display: flex;
  max-height: 75vh;
  margin-top: 20px;
}

.search-coins-left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 25px;
}

@media only screen and (max-width: 1350px) {
  .search-coins {
    min-width: 100vw;
  }
  .search-coins-content {
    flex-direction: column;
    max-width: 95vw;
    min-height: 150%;
  }

  .search-coins-left {
    margin: 0px;
    height: 100%;
  }
}
