.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  width: 100%;
}

.nav-logo {
  margin-left: 10px;
}

.logo {
  width: 6em;
}

.nav-link-container {
  min-width: 35%;
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  text-decoration: none;
  color: black;
  padding: 10px;
  border: 1px solid transparent;
}
.nav-link:hover {
  border-bottom: 1px solid var(--secondary-color);
}

.nav-link-active {
  border-bottom: 1px solid var(--secondary-color);
}
