.discover-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discover-header-container {
  display: flex;
  align-items: center;
}

.discover-header-img {
  height: 2em;
}

.discover-header-container > h2 {
  margin: 0 10px;
}

.discover-header-container-middle {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.discover-header-updated {
  font-size: 0.7rem;
}

@media only screen and (max-width: 1350px) {
  .discover-header {
    flex-direction: column;
  }
  .discover-header-container-middle {
    width: 100%;
  }
}
