.learn-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10% 0;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transition: 0.25s;
}

.learn-card:hover {
  transform: scale(1.1);
}

.learn-card-image {
  max-height: 300px;
  object-fit: cover;
}

.learn-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  min-height: 20vh;
}

@media only screen and (max-width: 1100px) {
  .learn-card-content > h1 {
    font-size: 1.5rem;
  }
}
