.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 2%;
}

.search-bar-form {
  display: flex;
  align-items: center;
  width: 62%;
  height: 5vh;
}

.search-bar-input {
  width: 100%;
  border: none;
  outline: none;
  background: whitesmoke;
}

.search-bar-icon {
  font-size: 2rem !important;
  margin-left: 10px;
  color: var(--secondary-color);
}

.search-bar-selector {
  height: 100%;
  background: whitesmoke;
  border: none;
  outline: none;
}

.search-bar-auth-container {
  display: flex;
  justify-content: flex-end;
}

.search-bar-link-container {
  background: red;
}
.search-bar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background: var(--main-bkg);
  --text-clip: -webkit-linear-gradient(
    rgba(0, 82, 162, 0.75),
    rgba(0, 38, 77, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

@media only screen and (max-width: 1350px) {
  .search-bar {
    justify-content: center;
    margin: 10px 0;
  }
  .search-bar-form {
    width: 35%;
    justify-content: space-between;
  }
  .search-bar-link {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .search-bar-form {
    width: 50%;
  }
}
@media only screen and (max-width: 550px) {
  .search-bar-form {
    width: 96%;
  }
}
