.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 11vh;
}

.search-bar-form {
  display: flex;
  align-items: center;
  border: 1px solid grey;
  width: 45%;
  border-radius: 5px;
  padding: 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.search-bar-input {
  width: 100%;
  border: none;
  outline: none;
  background: whitesmoke;
}

.search-bar-icon {
  font-size: 2rem !important;
  margin-left: 5px;
  color: var(--secondary-color);
}

@media only screen and (max-width: 1350px) {
  .search-bar {
    padding: 0 2%;
    justify-content: center;
    margin: 10px 0;
  }
  .search-bar-form {
    width: 35%;
    justify-content: center;
  }
}
