.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 10vh;
}

.search-bar-form {
  display: flex;
  align-items: center;
  border: 1px solid grey;
  width: 45%;
  border-radius: 15px;
  padding: 2px;
}

.search-bar-input {
  width: 100%;
  border: none;
}

.search-bar-icon {
  font-size: 2rem !important;
  margin-left: 5px;
  color: var(--secondary-color);
}

@media only screen and (max-width: 1350px) {
  .search-bar {
    width: 100%;
    justify-content: center;
  }
  .search-bar-form {
    width: 100%;
    justify-content: center;
  }
}
