.search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5vh;
}

.search-form {
  display: flex;
  align-items: center;
  border: 1px solid grey;
  width: 45%;
  margin-left: 15px;
}

.search-input {
  width: 100%;
  border: none;
  padding: 10px;
}

.search-icon {
  font-size: 2rem !important;
}
