.mc-top-five-container {
  display: flex;
  justify-content: space-between;
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 2%;
}

.mc-top-five {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.mc-top-five:first-child {
  margin-left: 0;
}
.mc-top-five:last-child {
  margin-right: 0;
}

.mc-top-five-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.mc-top-five-header > p {
  margin: 10px 0;
}

.mc-top-five-data {
  font-size: 0.9rem;
}
.mc-top-five-img {
  height: 2.5em;
  object-fit: contain;
}
