.mc-top-five-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.mc-top-five {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 5px;
  /* color: whitesmoke; */
  /* background: var(--main-color);
  background: var(--main-bkg);
  background: var(--main-bkg-browsers); */
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.mc-top-five-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.mc-top-five-data {
  font-size: 0.9rem;
}
.mc-top-five-img {
  height: 2.5em;
  object-fit: contain;
}

.mc-top-five-sparkline {
  flex: 1;
}
