.table-container {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 0.8rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.table {
  width: 100%;
}

tr:hover {
  color: whitesmoke;
  cursor: pointer;
  background: #16222a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    rgb(58, 96, 115, 0.75),
    rgb(22, 34, 42, 0.75)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgb(58, 96, 115, 0.75),
    rgb(22, 34, 42, 0.75)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

th {
  padding: 5px;
}

td {
  border: 1px solid lightgrey;
  text-align: center;
  padding: 5px;
  width: 10vw;
}

.table-coin-img {
  height: 2em;
}

@media only screen and (max-width: 1350px) {
  .table-container {
    margin-top: 25px;
    height: 100%;
    overflow-y: visible;
    overflow-x: visible;
  }
}
