.table-container {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 25vh;
  font-size: 0.8rem;
}

tr:hover {
  cursor: pointer;
  background: #16222a; /* fallback for old browsers */

  background: -webkit-linear-gradient(
    to right,
    rgb(58, 96, 115, 0.75),
    rgb(22, 34, 42, 0.75)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgb(58, 96, 115, 0.75),
    rgb(22, 34, 42, 0.75)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

th {
  padding: 5px;
}

td {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  text-align: center;
  padding: 5px;
  width: 10vw;
}

.table-coin-img {
  height: 2em;
}
