* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --main-bkg: #bdc3c7; /* fallback for old browsers */

  --main-bkg-browsers: linear-gradient(
    to top,
    rgb(44, 62, 80),
    rgb(189, 195, 199)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --main-bkg: #bdc3c7; /* fallback for old browsers */

  --main-bkg-browsers: linear-gradient(
    to top,
    rgb(44, 62, 80),
    rgb(189, 195, 199)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  --secondary-bkg: -webkit-linear-gradient(
    to right,
    rgb(219, 159, 30),
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  --secondary-bkg-browsers: linear-gradient(
    to right,
    rgb(219, 159, 30),
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --secondary-color: rgb(219, 159, 30);
}

a {
  text-decoration: none;
  color: black;
}
.red {
  color: red;
}

.green {
  color: green;
}

.app {
  display: flex;
  max-width: 100vw;
  overflow-x: hidden;
  background: whitesmoke;
}
