* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --main-bkg: -webkit-linear-gradient(
    to right,
    rgb(58, 96, 115, 0.75),
    rgb(22, 34, 420, 0.67)
  ); /* Chrome 10-25, Safari 5.1-6 */
  --main-bkg-browsers: linear-gradient(
    to right,
    rgb(58, 96, 115, 0.5),
    rgb(22, 34, 420, 0.67)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  --secondary-bkg: -webkit-linear-gradient(
    to right,
    rgb(219, 159, 30),
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  --secondary-bkg-browsers: linear-gradient(
    to right,
    rgb(219, 159, 30),
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --secondary-color: rgb(219, 159, 30);
}

a {
  text-decoration: none;
  color: black;
}
.red {
  color: red;
}

.green {
  color: green;
}

.app {
  display: flex;
  max-width: 100vw;
  overflow-x: hidden;
  background: rgb(232, 232, 232);
}
