* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --main-color: #16222a; /* fallback for old browsers */

  --main-bkg: -webkit-linear-gradient(
    to right,
    #3a6073,
    #16222a
  ); /* Chrome 10-25, Safari 5.1-6 */
  --main-bkg-browsers: linear-gradient(
    to right,
    rgb(58, 96, 115),
    rgb(22, 34, 42)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  --secondary-bkg: -webkit-linear-gradient(
    to right,
    rgb(219, 159, 30),
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  --secondary-bkg-browsers: linear-gradient(
    to right,
    rgb(219, 159, 30),
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --secondary-color: rgb(219, 159, 30);
}

a {
  text-decoration: none;
  color: black;
}
.red {
  color: red;
}

.green {
  color: green;
}

section {
  display: flex;
  height: 100vh;
  padding: 2% 5%;
}

.section-data,
.section-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin: 30px;
}

.section-text-content > h2 {
  margin: 30px 0;
}
.section-text-content > h1 {
  font-size: 2rem;
}
