.mc-percentage {
  font-size: 0.9rem;
  overflow-y: scroll;
  text-align: center;
}

.mc-percentage-row {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.mc-percentage-item {
  flex: 1;
  display: flex;
  align-items: center;
  height: 50px;
  margin: 10px 0;
  padding-left: 15px;
}
.mc-percentage-img {
  width: 2em;
  object-fit: contain;
}
