.detail-cards-container {
  display: flex;
  flex-direction: column;
  height: 60%;
  color: var(--secondary-color);
}

.detail-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-size: 0.9rem;
  padding: 3%;
  margin-top: 15px;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.detail-card-info {
  display: flex;
  justify-content: space-between;
}
.detail-card-info > h4 {
  background: var(--text-clip);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1350px) {
  .detail-cards-container {
    margin-top: 3vh;
  }
}
