.selected-coin-name {
  display: flex;
  align-items: center;
  padding: 2%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.selected-coin-image {
  min-width: 3em;
  max-height: 3em;
  min-height: 3em;
  margin-right: 4%;
}

.selected-coin-name > h1 {
  margin-right: 13px;
  background: var(--text-clip);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.selected-coin-name > h2 {
  color: var(--secondary-color);
}
.selected-coin-name > p {
  flex: 1;
  text-align: right;
  font-size: 0.8rem;
  color: var(--secondary-color);
}

@media only screen and (max-width: 600px) {
  .selected-coin-name > h2 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 500px) {
  .selected-coin-name > h1 {
    font-size: 1.5rem;
  }
}
